node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

/android
/ios

# macOS
dist/
.DS_Store
.firebase/
.env
.env.development
googleplayauth.json
functions/node_modules/
functions/firebase-debug.log
functions/ui-debug.log
firebase-debug.log
.firebase/*
functions/.runtimeconfig.json
functions/firestore-debug.log
ui-debug.log
firebase/functions/.secret.local
firebase/functions/.runtimeconfig.json
